<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otaku Castle Recommended Anime</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
    <h2>Your Anime Recommendations</h2>
    <ol>
        {% for anime in recommendations %}
        <li>
            <table border="0">
                <tr><th><h2>{{ anime['English name'] }}</h2></th></tr>
                <tr>
                    <td class="rightbox"><img src="{{ anime['Image URL'] }}" alt="{{ anime['English name'] }}" width="200"></td>
                    <td class="desc"><strong>Description:</strong> {{ anime['Synopsis'] }}</td>
                </tr>
            </table>
            <p>&nbsp;</p>
        </li>
        {% endfor %}
    </ol>
</body>
</html>
